body {
    width: inherit;
    height: 85vh;
    display: flex;

}

.navbar {
    height: inherit;
    width: 3vw;
    background-color: #5861AE;
    padding: 0;
}

.navbar li {
    height: fit-content;
}

body .column1 {
    height: inherit;
    width: 3vw;
    float: left;
}

body .column2 {

    width: 97vw;

}

li img {
    width: 45px;
    height: 30px;
    align-items: center;
    margin: 25px 0 15px 0;
}

#list {
    background-color: #FFFFFF;
    padding: 10px;
    width: 30px;
}

h4 {
    padding-left: 45px;
    color: #1E2022;
}

h4 a {
    text-decoration: none;
    padding: 0 20px 0 20px;
    margin-right: 35px;
    border: 2px solid #5861AE;
    color: #5861AE;
    font-size: 16px;
    background-color: #FFFFFF;
    float: right;
    border-radius: 6px;
    height: 25px;
    cursor: grab;
}

h4 img {
    float: right;
    padding: 5px 20px 0 0;
}

h4 input {
    float: right;
    margin-right: 5px;
}